<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville%7CMaven+Pro" rel="stylesheet">
  <title>MusicLust | Update Show</title>
</head>
<body>
    <a href= "/performs">Back</a>
    <h1 class="newShow">Changes to a show? Fix them here!</h1>
    <hr>
    <table>
        <thead>
            <tr>
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
                  <tr>
                      <td><%= foundPerformer.location %></td>
                      <td><%= foundPerformer.date %></td>
                      <td><%= foundPerformer.time %></td>
                 </tr>     
        </tbody>
<tbody>
    <tr> 
            <form action="/performs/<%= foundPerformer._id %>?_method=PUT" method="POST" class="performsForm">
            <td><label>Location:</label></td>
            <td><input type="text" name="location" value="<%= foundPerformer.location%>"></td>
            <td><label>Date:</label></td>
            <td><input type="date" name="date" value="<%= foundPerformer.date %>"></td>
            <td><label>Time:</label></td>
            <td><input type="time" name="time" value="<%= foundPerformer.time %>"></td>
            <td><input type="submit" value="Update Show"></td>
            </form>  
    </tr>
</tbody>
  
  </body>
  </html>