<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville%7CMaven+Pro" rel="stylesheet">
  <title>MusicLust | Home</title>
</head>
<body>
<ul>
  <a href="/logout"><i class="material-icons left"></i>Log Out</a><br>
  <a href = "/" class = 'Home'>Home</a><br>
  <a href = "performs/new" class = 'Add'>Add New Performance</a><br>
  <a href= "https://www.dashboardconfessional.com/" class = 'band'>Learn More About Them Here</a>
</ul>  
  <h1 class="header">We're following Dashboard Confessional!</h1>
  <hr>
  <table>
      <thead>
          <tr>
              <th>Location</th>
              <th>Date</th>
              <th>Time</th>
          </tr>
      </thead>
      <tbody>
          <% if (performs.length > 0) { %>
            <% performs.forEach(function(p) { %>
                <tr>
                    <td><%= p.location %></td>
                    <td><%= p.date %></td>
                    <td><%= p.time %></td>
                </tr>
                <tr>
                    <td>
                    <a href="/performs/<%= p._id %>">Edit</a>
                    </td>
                    <td>
                    <form action="/performs/<%= p._id %>?_method=DELETE" method="POST" class="performsForm">
                    <button type="submit">Delete</button>
                    </form>
                    </td>
                </tr>
                <tr> 
                    <form class="addCommentForm" method="POST"
                    action="/performs/<%= p._id %>/comments">
                    <td>
                    <label>Comment:</label>
                    </td>
                    <td><textarea name="text"></textarea>
                    </td>
                    <td><input type="submit" value="Post Comment">   
                    </td>
                    </form>
                </tr>
                <% if (p.comments.length >0) { %>
                    <% p.comments.forEach(function(c) { %>
                        <tr>
                            <% if(c) { %>
                                <td colspan="3"><%= c.text %></td>
                            <% } %>
                        </tr>
                    <% }); %> 
                <% } %>
            <% }); %>
        <% } else { %>
            <h1> No Current Performances </h1>  
        <% } %>
        
      </tbody>
  </table>
  <section>
</section>
</body>
</html>